page-campaign-achievements {
	.toolbar-ios-primary .toolbar-background-ios {
        background: #81007f;
        border-radius: 0px 0px 12px 12px;
    }

    ion-row {
    	background: #81007f;
	    color: white;
	    padding: 20px 10px;
	    border-radius: 10px;
	    margin-top: 10px;
    }
}
