page-pet-list {
    .wall-img {
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            height: 180px;
        }
        .edit2 {
            position: absolute;
            width: 30px;
            right: 10px;
            top: 10px;
        }
    }

    .user-img{
        align-items: center;
            position: absolute;
            bottom: -35px;
            z-index: +11;
        .user {
            border: 3px solid #d967d7;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 32%;
            height: 100px;
            object-fit: cover;
            display: inline-block;
            margin: auto;
            -webkit-border-radius: 50%;
        }
        .edit {
            position: relative;
            right: 30px;
            width: 25px;
            bottom: 70px;
        }

        span{
            font-size: large;
            color: gray;
        }
    }

    .toolbar-ios-primary .toolbar-background-ios {
        background: #81007f;
        border-radius: 0px 0px 12px 12px;
    }

    .dog.row{
        background-image: url(../../assets/imgs/login/back.png);
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
  .block {


        .item-ios {
            border-radius: 30px;
            box-shadow: 1px 1px 15px #ebebeb;
            margin: 0 0 15px;
        }

        .item-md {
            border-radius: 20px;
            border: 1px solid #f3ebeb;
            box-shadow: 1px 1px 15px #ebebeb;
        }
    }
    .row_in.row .col {

        .label {
            margin: 11px 8px 11px 0;
            color: #ccc;
            padding-left: 10px;
            font-size: 13px;
        }
        .text-input {
            font-size: 13px;
        }
    }
    .dog{
        .img_rigth {
            position: absolute;
            right: 40px;
            z-index: +1;
            bottom: 45px;
            height: 120px;
        }
    }

    .foot{
        img {
            top: 4px;
            position: relative;
        }
    }
    .text-input {
        padding-left: 10px;
    }
    .block.block_1 {
        padding: 15px 25px 0px 25px;
       img {
            width: 190px;
            margin-bottom: 30px;
        }
    }
    .block.block_1 {
        h2 {
            font-size: 17px;
        }
        p {
            font-size: 12px;
            text-align: justify;
            color: #575757;
            line-height: 18px;
        }
    }
    .foot.row {
        position: fixed;
        bottom: 0;
    }
   ion-datetime{
       padding-left:10px !important;
    .datetime-text{
        font-size:13px !important;
    }
   }

   ion-select{
       width:100%;
       max-width:100%;
    padding-left:10px !important;
       .select-text{
        font-size:13px !important;
       }
   }

   .login_text {
   h3 {
    font-size: 22px;
    color: #a64686;
    margin: 0;
    font-weight: 600;
     p {
        margin: 3px 0 0;
        font-size: 14px !important;
    }
    }
    }


   @media (min-width: 768px) and (max-width: 1024px) {

    .user-img{
        align-items: center;
            position: absolute;
            bottom: -15px;
        .user {
            border: 7px solid #d967d7;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 33%;
            height: auto;
            object-fit: cover;
            display: inline-block;
            margin: auto;
            -webkit-border-radius: 50%;
        }
        .edit {
            position: relative;
            right: 80px;
            width: 40px;
            bottom: 190px;
        }

        span{
            font-size: large;
            color: gray;
        }
    }

    }

    .pet_details {
        margin-top: 35px;
    }
    .img_right {
        padding: 0;
        width: 40px;
    }
    .img_left {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 1px solid #bdcbc0;
        border-radius: 50%;
        padding: 3px;
    }
    .pet_details .item {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        h3 {
            font-size: 17px !important;
            font-weight: 600 !important;
        }
    }

    .item_edit.item .button1 {
        margin: 0;
        border-radius: 4px 0px 0px 4px;
        font-weight: 600;
        font-size: 15px;
        border-right: 1px solid white;
    }

    .item_edit.item .button2 {
        margin: 0;
        border-radius: 0px 4px 4px 0px;
        font-weight: 600;
        font-size: 15px;
        color: #fff200;
    }

     .button1 {
        margin: 0;
        border-radius: 4px 0px 0px 4px;
        font-weight: 600;
        font-size: 15px;
        border-right: 1px solid white;
    }

     .button2 {
        margin: 0;
        border-radius: 0px 4px 4px 0px;
        font-weight: 600;
        font-size: 15px;
        color: #fff200;
    }
}
