page-member-friend {

    .item-ios ion-avatar img{
        width: 85px !important;
        height: 85px !important;
        object-fit: cover;
    }
    .login_text {
        text-align: left !important;
        margin: 0;
        h3 {
          font-size: 18px;
          color: #a64686;
          margin: 0;
      }
      p {
        margin: 3px 0 0 0;
        font-size: 14px;
        white-space: normal;
    }
    }

    .wall-img {
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            height: 180px;
        }
        .edit2 {
            position: absolute;
            width: 30px;
            right: 10px;
            top: 10px;
        }
    }
    
    .user-img{
        align-items: center;
            position: absolute;
            bottom: -35px;
            z-index: +11;
        .user {
            border: 3px solid #d967d7;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 32%;
            height: 100px;
            object-fit: cover;
            display: inline-block;
            margin: auto;
            -webkit-border-radius: 50%;
        }
        .edit {
            position: relative;
            right: 30px;
            width: 25px;
            bottom: 70px;
        }
    
        span{
            font-size: large;
            color: gray;
        }
    }
    
    .toolbar-ios-primary .toolbar-background-ios {
        background: #81007f;
        border-radius: 0px 0px 12px 12px;
    }
    
    .dog.row{
        background-image: url(../../assets/imgs/login/back.png);
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .block {
    
    
        .item-ios {
            border-radius: 30px;
            box-shadow: 1px 1px 15px #ebebeb;
            margin: 0 0 15px;
        }
    
        .item-md {
            border-radius: 20px;
            border: 1px solid #f3ebeb;
            box-shadow: 1px 1px 15px #ebebeb;
        }
    }
    .row_in.row .col {
    
        .label {
            margin: 11px 8px 11px 0;
            color: #ccc;
            padding-left: 10px;
            font-size: 13px;
        }
        .text-input {
            font-size: 13px;
        }
    }
    .dog{
        .img_rigth {
            position: absolute;
            right: 40px;
            z-index: +1;
            bottom: 45px;
            height: 120px;
        }
    }
    
    .foot{
        img {
            top: 4px;
            position: relative;
        }
    }
    .text-input {
        padding-left: 10px;
    }
    .block.block_1 {
        padding: 15px 25px 0px 25px;
       img {
            width: 190px;
            margin-bottom: 30px;
        }
    }
    .block.block_1 {
        h2 {
            font-size: 17px;
        }
        p {
            font-size: 12px;
            text-align: justify;
            color: #575757;
            line-height: 18px;
        }
    }
    .foot.row {
        position: fixed;
        bottom: 0;
    }
    ion-datetime{
       padding-left:10px !important;
    .datetime-text{
        font-size:13px !important;
    }
    }
    
    ion-select{
       width:100%;
       max-width:100%;
    padding-left:10px !important;
       .select-text{
        font-size:13px !important;
       }
    }
    
    .login_text {
    h3 {
    font-size: 22px;
    color: #a64686;
    margin: 0;
    font-weight: 600;
     p {
        margin: 3px 0 0;
        font-size: 14px !important;
    }
    }
    }
    
    
    @media (min-width: 768px) and (max-width: 1024px) {
    
    .user-img{
        align-items: center;
            position: absolute;
            bottom: -15px;
        .user {
            border: 7px solid #d967d7;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 33%;
            height: auto;
            object-fit: cover;
            display: inline-block;
            margin: auto;
            -webkit-border-radius: 50%;
        }
        .edit {
            position: relative;
            right: 80px;
            width: 40px;
            bottom: 190px;
        }
    
        span{
            font-size: large;
            color: gray;
        }
    }
    
    }
    
    .pet_details {
        margin-top: 35px;
    }
    .img_right {
        padding: 0;
        width: 40px;
    }
    .img_left {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border: 1px solid #bdcbc0;
        border-radius: 50%;
        padding: 3px;
    }
    .pet_details .item {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        h3 {
            font-size: 17px !important;
            font-weight: 600 !important;
        }
    }
    
    .item_edit.item .button1 {
        margin: 0;
        border-radius: 4px 0px 0px 4px;
        font-weight: 600;
        font-size: 15px;
    }
    
    .item_edit.item .button2 {
        margin: 0;
        border-radius: 0px 4px 4px 0px;
        font-weight: 600;
        font-size: 15px;
        color: #fff200;
    }
    .request {
      font-size: 18px;
      height: 35px;
      border-radius: 10px;
    }
    .heading {
      font-size: 18px;
      padding: 10px 16px 5px;
      margin: 5px 0;
      color: #6d6e70;
      border-top: 1px solid #f1f1f1;
      font-weight: 600;
    }
    
    .item_edit {
        p {
            white-space: normal;
        }
    }
    
    
         /// CSS FOR FEED LISTING    ///////////////////////////
    
    
         .add-like {
            img{
                position: relative;
                top: 3px;
            }
        }
    
        .add-like2 {
            img{
                position: relative;
                top: 5px;
            }
        }
         #notification-button {
                position: relative;
                width: 42px;
                top:1px;
                right: 1px;
                overflow: visible!important;
            }
    
    
       #notifications-badge {
                background-color: red;
                position: absolute;
                top: -3px;
                right: -3px;
                border-radius: 100%;
            }
    
        .toolbar-ios-primary .toolbar-background-ios {
            background: #81007f;
            border-radius: 0px 0px 12px 12px;
        }
        .bx p {
            margin: 0;
            font-size: 12px;
            color: #575757;
        }
        .bx span {
            font-size: 16px !important;
            color: #1e1e1e !important;
            font-weight: 500;
        }
        .bx {
            padding-left: 8px;
            .item-inner {
                border-bottom: none !important;
                padding: 0 !important;
            }
        }
    
        ion-avatar {
            align-items: center;
            display: flex;
        }
    
        .icons.row .col {
            padding: 16px 16px 0;
            display: flex;
            align-items: center;
        }
    
        // .circle {
        //     height: 50px;
        //     width: 50px;
        //     border-radius: 50%;
        //     display: inline-block;
        //     overflow: hidden;
        //     box-shadow: 0 1px 8px #5e5e5e99;
        //     margin-bottom: 5px;
        //     &.active {
        //         border: 3px solid color($colors, primary);
        //         position: relative;
        //     }
        //     img {
        //         width: 100%;
        //         height: 100%;
        //         object-fit: cover !important;
        //     }
        //     span{
        //             // position: absolute;
        //             // top: 70px;
        //             // left: 25px;
        //         }
    
        // }
        .search_grid{
            box-shadow: 0px 4px 0px #f1f1f1;
        }
        .scroller {
                white-space: nowrap;
                width: 100%;
                overflow-x: scroll;
                padding-bottom: 0;
                padding-top: 0;
                //-webkit-box-shadow: 0px 2px #ddd;
                box-shadow: 0px 4px 0px #f1f1f1;
            .scrollitem {
                width: 100%;
                position: relative;
                display: flex;
                // margin: 0 3px;
                .circle {
                //     position: relative;
                //      height: 75px;
                //     width: 60px;
                //    // border-radius: 50%;
                //    padding: 3px;
                //     display: inline-block;
                //     overflow: hidden;
                //     //box-shadow: 0 1px 8px #5e5e5e99;
                //     margin-bottom: 5px;
                //     margin-right: 10px;
    
                    position: relative;
                    height: auto;
                    width: 70px;
                    padding: 3px;
                    display: inline-block;
                    overflow: hidden;
                    margin-bottom: 5px;
                    margin-right: 10px;
                    text-align: center;
    
                    &.active {
                        border: 3px solid color($colors, primary);
                        position: relative;
                    }
                        span{
                            // position: absolute;
                            // bottom: 0px;
                            // left: 14px;
                            // white-space: nowrap;
                            // font-size: smaller;
    
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            white-space: normal;
                            margin-top: 8px;
                            display: block;
                            font-size: 10px;
                            text-align: center;
                            }
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                        vertical-align: middle;
                        border-radius: 50%;
                        box-shadow: 0 1px 8px #5e5e5e99;
                    }
                }
                .text {
                    text-align: center;
                    font-size: 9px;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 3px 5px 0px;
                }
            }
        }
    
        .feed_content{
            img {
                // height: 100%;
                // width: 100%;
                object-fit: contain;
                object-position: center;
                vertical-align: middle;
                border-radius: 50%;
    
            }
    
            span{
                font-size: 20px;
            }
        }
        .comment_sec {
            width: 100%;
           // margin: 0px 10px 10px;
        }
        .label {
            margin: 0;
            text-transform: capitalize;
        }
        .icons.row {
            justify-content: center;
            align-items: center;
            width: 100%;
            border-bottom: 4px solid #f1f1f1;
            .col{
                padding: 4px 8px 5px;
            }
        }
        .icons.icons_2.row {
            justify-content: left;
            // border-top: 0.6px solid #f1f1f1;
            // border-bottom: 0.6px solid #f1f1f1;
            padding: 0;
        }
        .icons.row span {
            font-size: 13px;
            color: #575757 !important;
            margin-top: 3px;
            font-weight: 400;
        }
        .icons.row .icon.icon-ios {
            font-size: 20px !important;
        }
        .block {
            width: 100%;
            background-color: white;
            height: auto;
            .play{
                position: relative;
                width: 100%;
            }
           // border-radius: 15px;
           // box-shadow: 1px 1px 7px #e3e3e3;
           // padding-bottom: 20px;
            .img {
                width: 100%;
                //border-radius: 10px;
            }
            input {
                padding: 10px 10px;
                border-radius: 22px;
                border: none;
                background: #f3eff7;
                width: 100%;
                font-size: 13px;
            }
            button {
                position: absolute;
                right: 20px;
                bottom: 12px;
                height: 30px !important;
    
            }
            .play-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                color: white;
                font-size: xxx-large;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    
        .btn-send {
            padding: 0;
            height: 35px;
        }
        .btn-send img {
            border-radius: 0 !important;
        }
    
        .circle.circle_2 {
            height: 40px;
            width: 40px;
        }
    
        .icons {
          //  font-size: 1.9em !important;
    
            ion-icon{
                font-size: 1.9em !important;
            }
            span {
                 color: gray;
            }
        }
    
        .rd-more{
            font-size: 20px;
            font-weight: bold;
        }
    
    
    
    
        .description {
            margin: 0;
            line-height: 15px;
            font-size: 13px;
        }
        .icons.icons_2.row img {
            width: 22px;
        }
    
    
        .pet_details .item .label {
          margin-top: 0;
      }
}
