<!--
  Generated template for the NewPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
  	<ion-buttons start (click)="close()">
      <button ion-button clear icon-only color="light">
        <ion-icon name="ios-arrow-dropleft-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="is_update==0">{{'NEWPOST' | lang}}</ion-title>
    <ion-title *ngIf="is_update==1">{{'EDITPOST' | lang}}</ion-title>

    <ion-buttons end (click)="Add_feed()" *ngIf="is_update==0">
      <button ion-button clear icon-only color="light">
        <button small ion-button color="light"  outline item-end >{{'POST' | lang}}</button>
      </button>
    </ion-buttons>

    <ion-buttons end (click)="update()" *ngIf="is_update==1">
      <button ion-button clear icon-only color="light">
        <button small ion-button color="light"  outline item-end >{{'UPDATEPOST' | lang}}</button>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding-horizontal>
  <ion-grid style="padding: 5px 0;" *ngIf="ownerInfo">
    <ion-row class="feed_content">
      <!-- <ion-col col-12 text-right>
        <button small ion-button color="vibrant" item-end (click)="Add_feed()">Post</button>
      </ion-col> -->
      <ion-col col-2 text-center>

        <div class="circle" [ngClass]="active">
          <img  [src]="ownerInfo?.profile">
        </div>

      </ion-col>
      <ion-col col-10>
        <ion-item no-lines class="bx">
          <h3>{{ownerInfo.first_name}} {{ownerInfo.last_name}}</h3>
          <p *ngIf="ownerInfo.address">{{ownerInfo.address}}</p>
          <p *ngIf="!ownerInfo.address">{{'NOLOCTION' | lang}}</p>
          <!-- <button small ion-button color="vibrant" item-end (click)="Add_feed()">Post</button> -->
        </ion-item>
          <!-- <div class="bx">
            <span>{{ownerInfo.first_name}} {{ownerInfo.last_name}}</span>
             </div> -->
      </ion-col>
    </ion-row>

    <ion-row class="block">
      <ion-col padding>
        <!-- <ion-textarea placeholder="Post something  with {{ownerInfo.first_name}} {{ownerInfo.last_name}}"
      name="note" rows="7"
      [(ngModel)]="desc"></ion-textarea> -->
      <!-- Post something  with {{ownerInfo.first_name}}{{ownerInfo.last_name}} -->
      <textarea rows="2" [(ngModel)]="desc" padding-left autosize
      placeholder="{{'WHATDOYOUWANT' | lang}}">
       </textarea>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col col-6>
        <button ion-button icon-only clear color="primary" (click)="getImage()">
          <img src="../../assets/imgs/home/camera.png" style="margin-right: 10px; width: 20px;">
          <b>Post Photo</b>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-only clear color="primary" (click)="new_video_thamb()">
          <img src="../../assets/imgs/home/video.png" style="margin-right: 10px; width: 20px;">
          <b>Post Video</b>
        </button>
      </ion-col>
    </ion-row> -->

    <ion-row *ngIf="feedImage">
      <ion-col col-12 style="position: relative;" class="feed-img" align-items-center>
        <button ion-button clear icon-only color="danger" (click)="deletefile()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        <img [src]="feedImage" alt="">
        <!-- <img src="../../assets/imgs/img_1.png" alt="" > -->
      </ion-col>
    </ion-row>
    <!-- *ngIf="upload_video==1" -->
    <ion-row *ngIf="upload_video==1"
      (click)="previewVideo(new_video);$event.stopPropagation();">
      <ion-col col-12 style="position: relative;" class="feed-vid">
        <button ion-button clear small (click)="deletefile();$event.stopPropagation();"
         class="close-btn">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </button>
        <img [src]="new_video.thumb.preview" alt="" class="image">
        <!-- <img src="../../assets/imgs/img_1.png" alt="" > -->
        <!-- <ion-icon ios="ios-play" md="md-play" class="play-btn"></ion-icon>   -->
        <img class="" src="../../assets/imgs/Rectangle-1.png"  width="80"
        class="play-btn">      
      </ion-col>
      <!-- <ion-col col-6 align-items-center>
        <ion-buttons>
          <button ion-button clear icon-only color="danger" (click)="deletefile()">
          <ion-icon name="trash"></ion-icon>
        </button>
        </ion-buttons>
      </ion-col> -->
    </ion-row>

    <ion-row *ngIf="media_data" align-items-center>
      <ion-col col-12 style="position: relative;" *ngIf="media_data.type=='Image'"
      class="feed-img" align-items-center>
        <button ion-button clear icon-only color="danger" (click)="deletefile2()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        <img [src]="media_data?.thumb" alt="">
      </ion-col>

      <ion-col *ngIf="media_data.type=='Video'"
          col-12 style="position: relative;"
         class="feed-vid" (click)="previewVideo(media_data);$event.stopPropagation();">
        <button ion-button clear small  (click)="deletefile2();$event.stopPropagation();"
         class="close-btn">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </button>
        <img [src]="media_data?.thumb?.thumb" alt="" class="image">
        <!-- <ion-icon ios="ios-play" md="md-play" class="play-btn"></ion-icon>     -->
        <img class="" src="../../assets/imgs/Rectangle-1.png"  width="80"
        class="play-btn">    
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!media_data&&is_update==1" align-items-center>
      <!-- <ion-col col-12 style="position: relative;" *ngIf="media_data&&media_data.type=='Image'"
      class="feed-img" align-items-center>
        <button ion-button clear icon-only color="danger" (click)="deletefile2()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        <img [src]="media_data?.thumb" alt="">
      </ion-col>

      <ion-col *ngIf="media_data&&media_data.type=='Video'"
          col-12 style="position: relative;"
         class="feed-vid" (click)="previewVideo(media_data);$event.stopPropagation();">
        <button ion-button clear small (click)="deletefile2();$event.stopPropagation();"
         class="close-btn">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </button>
        <img [src]="media_data?.thumb" alt="">
        <ion-icon ios="ios-play" md="md-play" class="play-btn"></ion-icon>        
      </ion-col> -->


      <ion-col col-12 style="position: relative;" *ngIf="update_data?.file_type=='Image'"
      class="feed-img" align-items-center>
        <button ion-button clear icon-only color="danger" (click)="updatefile_deletefile()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
        <img [src]="update_data?.image" alt="">
      </ion-col>

      <ion-col *ngIf="update_data?.file_type =='Video'"
          col-12 style="position: relative;"
         class="feed-vid" (click)="previewVideo_update(update_data);$event.stopPropagation();">
        <button ion-button clear small (click)="updatefile_deletefile();$event.stopPropagation();"
         class="close-btn">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </button>
        <img [src]="update_data?.thumbnail" alt="" class="image">
        <!-- <ion-icon ios="ios-play" md="md-play" class="play-btn"></ion-icon>   -->
        <img class="" src="../../assets/imgs/Rectangle-1.png"  width="80"
        class="play-btn">      
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid padding *ngIf="update_data?.is_shared == 1" 
      style="border: 1px solid #e8e5e5;margin-bottom: 16px;
    border-radius: 10px;">

    <ion-item no-padding class="bx2" *ngIf="update_data?.is_shared == 1">
      <ion-avatar item-start *ngIf="update_data?.shared_feed_data?.type == 1">
        <div class="circle" [ngClass]="active">
        <img [src]="update_data?.shared_feed_data?.user_data?.profile">
        </div>
      </ion-avatar>
      <h2 *ngIf="update_data?.shared_feed_data?.type == 1">{{update_data.shared_feed_data.user_data.first_name}} {{update_data.shared_feed_data.user_data.last_name}}</h2>

      <ion-avatar item-start *ngIf="update_data?.shared_feed_data?.type == 2">
        <div class="circle" [ngClass]="active">
        <img [src]="update_data?.shared_feed_data?.users?.profile">
        </div>
      </ion-avatar>
      <h2 *ngIf="update_data?.shared_feed_data?.type == 2">{{update_data.shared_feed_data.users.name}}</h2>

      <p>{{update_data.shared_feed_data.create_date}}</p>
      
    </ion-item>

    <ion-col col-12 *ngIf="update_data?.is_shared == 1">
      <p style="margin: 5px 0;">{{update_data.shared_feed_data.description}}</p>
    </ion-col>

    <ion-row class="block" *ngIf="update_data?.is_shared == 1" margin-bottom>
        <img class="img" [src]="update_data.shared_feed_data.image" alt="" imageViewer  
        *ngIf="update_data.shared_feed_data.file_type == 'Image'"/>

        <video controls class="vid" autoplay [poster]="update_data.thumbnail"
        *ngIf="update_data?.shared_feed_data?.file_type == 'Video'">
            <source [src]="update_data.shared_feed_data.image" type="video/mp4">
        </video>
    </ion-row>
</ion-grid>

</ion-content>

<ion-footer padding>
  <ion-row>
    <ion-col col-12>
      <button ion-button full icon-start color="light" (click)="getImage2()"> 
        <ion-icon name="md-camera"></ion-icon>
        {{'PHOTOVIDEO' | lang}}
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
