page-opt {
	.x{
  display:inline-block;
  width:50px;
  height:50px;
  margin:10px;
  // border-radius: 50%;
  border-bottom: 1px solid gray !important;
  --background:#e1e1e1;
  --padding-start:7px;
  }

  ion-input{
 display:inline-block;
 width:50px;
 height:50px;
 margin:10px;
 // border-radius: 50%;
 border-bottom: 1px solid #81007f;
 --background:#e1e1e1;
 --padding-start:7px;
 }

 .text-input-ios{
 	text-align: center !important;
 }

 .text-input-md{
 	text-align: center !important;
 }
 .main_div {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
}
