<!--
  Generated template for the CampaignDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Vendor (Campaign Details)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-item no-lines padding-horizontal align-items-center>
    <ion-avatar item-start>
      <img [src]="auth?.getUserDetails()?.company_logo">
    </ion-avatar>
    <div text-center class="login_text">
      <h3>{{auth.getUserDetails().company_name}}</h3>
    <p *ngIf="auth.getUserDetails().address">{{auth.getUserDetails().address}}</p>
    <p *ngIf="!auth.getUserDetails().address">{{'NOLOCTION' | lang}}</p>
    </div>
  </ion-item>
  
  <br>
  <img [src]="formData?.image" class="banner-img">
  <br>
  <br>
     <ion-row padding-horizontal *ngIf="formData">
       <ion-col col-12 no-padding>
         <p>Duration (Days):<span class="text-right">{{formData.duration}}</span></p>
       </ion-col>
       <ion-col col-12 no-padding>
        <p>Cost Per Click:<span class="text-right">{{formData.cost_per_click}}</span></p>
      </ion-col>
      <ion-col col-12 no-padding>
        <p>Amount Spent:<span class="text-right">{{formData.projected_cost}}</span></p>
      </ion-col>
      <ion-col col-12 no-padding>
        <p>Daily Budget:<span class="text-right">${{formData.budget}}</span></p>
      </ion-col>
      <ion-col col-12 no-padding>
        <p>Reach:<span class="text-right">{{formData.reach_count}}</span></p>
      </ion-col>
       <ion-col col-12 no-padding>
        <p>No of Click(s):<span class="text-right">{{formData.click_count}}</span></p>
      </ion-col>
      <ion-col col-12 no-padding>
        <p>Days Left:<span class="text-right">{{formData.day_left}}</span></p>
      </ion-col>
     </ion-row>


  <!-- <ion-fab right top >
    <button ion-fab color="vibrant" (click)="back()" style="width: 45px;height: 45px;">
      <img src="assets/imgs/new/icons8-ok-100.png">
    </button>
  </ion-fab> -->


</ion-content>
