<!--
  Generated template for the ServicePreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Service Preview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-grid style="padding:0 5px">
		<ion-row style="padding-top:5px;">
			<ion-col col-12 text-capitalize text-justify  style="font-size: large;text-transform: capitalize;">
				{{info.s_name}}
			</ion-col>

      <ion-col col-12 text-justify style="color: #81007f;font-size: large">
        {{info.cate}}
      </ion-col>

			<ion-col col-12 text-center>
				<img [src]="info.img" class="pre_view" *ngIf="info.img">
        <img src="assets/imgs/placeholder.jpg" alt="" class="pre_view" *ngIf="!info.img">
			</ion-col>

			<!-- <ion-col col-12 text-center>
				<img [src]="info.img">
			</ion-col> -->

			
			<ion-col col-12 text-justify *ngIf="info.price != ''">
				<strong>Price</strong> : ${{info.price}}
			</ion-col>

			<ion-col col-12 text-justify *ngIf="info.duration1 != ''">
				<strong>Duration</strong> :  {{info.duration1}} To {{info.duration2}} Min.
			</ion-col>

			<ion-col col-12 text-justify>
				{{info.desc}}
			</ion-col>
		</ion-row>

		<div *ngIf="info.mon">
		<!-- <h3 style="font-size: 15px; margin: 5px 0;">Monday (Open)</h3> -->
  <ion-row style="width: 100%;">
    <ion-col col-5 align-self-center>
      <!-- <ion-checkbox color="primary" (click)="mon(monday)" [(ngModel)]="info.mon"></ion-checkbox>   -->
      <span style="font-size: 15px;">Monday (Open)</span> 
    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="hh:mm A" [(ngModel)]="info.mon_opne"  pickerFormat="hh:mm A"
            placeholder="00:00" (ionChange)="time_mon(m1)"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:9px">TO</span></ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="hh:mm A"  pickerFormat="hh:mm A"
          
            (ionChange)="time_mon(m2)"
            [(ngModel)]="info.mon_close"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

	<div *ngIf="info.tue">
  <ion-row style="width: 100%;">
    <ion-col col-5 align-self-center>
    <span style="font-size: 15px">Tuesday (Open)</span>
      <!-- <ion-checkbox color="primary" (click)="tue(tuesday)" [(ngModel)]="info.thu"></ion-checkbox>      -->
    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
            [(ngModel)]="info.tue_open"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:9px">TO</span></ion-col>

    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"             
            [(ngModel)]="info.tue_close"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

	<div *ngIf="info.wed" margin-top>
  <ion-row style="width: 100%;">
    <ion-col col-5 align-self-center>
      <!-- <ion-checkbox color="primary" (click)="wed(wednesday)" [(ngModel)]="info.wed"></ion-checkbox>  -->
    <span style="font-size: 15px;">Wednesday (Open)</span>

    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"       
            [(ngModel)]="info.wed_open"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:9px">TO</span></ion-col>

    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"
            [(ngModel)]="info.wed_close"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

	<div *ngIf="info.thu">
  <ion-row style="width: 100%;">
    <ion-col col-5 align-self-center>
      <!-- <ion-checkbox color="primary" (click)="thu(thursday)" [(ngModel)]="info.thu"></ion-checkbox>   -->
    <span style="font-size: 15px;">Thursday (Open)</span>

    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
            [(ngModel)]="info.thu_open"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:9px">TO</span></ion-col>

    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"            
            [(ngModel)]="info.thu_close"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

	<div *ngIf="info.fri">
  <ion-row style="width: 100%;">
    <ion-col col-5 align-self-center>
      <!-- <ion-checkbox color="primary" (click)="fri(friday)" [(ngModel)]="info.fri"></ion-checkbox>  -->
    <span style="font-size: 15px;">Friday (Open)</span>

    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"             
            [(ngModel)]="info.fri_open"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:9px">TO</span></ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"
            [(ngModel)]="info.fri_close"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

	<div *ngIf="info.sat">
  <ion-row style="width: 100%;">
    <ion-col col-5 align-self-center>
    <span style="font-size: 15px;">Saturday (Open)</span>
      
      <!-- <ion-checkbox color="primary" (click)="sat(saturday)" [(ngModel)]="info.sat"></ion-checkbox>      -->
    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
            [(ngModel)]="info.sat_open"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:9px">TO</span></ion-col>

    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
            [(ngModel)]="info.sat_close"           
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

	<div *ngIf="info.sun">
  <ion-row style="width: 100%;">
    <ion-col  col-5 align-self-center>
      <!-- <ion-checkbox color="primary" (click)="sun(sunday)" [(ngModel)]="info.sun"></ion-checkbox>  -->
    <span style="font-size: 15px; margin: 5px 0;">Sunday (Open)</span>

    </ion-col>
    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="08:00 AM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
            [(ngModel)]="info.sun_open"      
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>
      <ion-col text-center col-2><span style="position: relative;top:5px">TO</span></ion-col>

    <ion-col col-auto no-padding>
      <ion-item no-lines>
        <!-- <ion-input type="text" placeholder="12:00 PM"></ion-input> -->
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"
            [(ngModel)]="info.sun_close"
            placeholder="00:00"></ion-datetime>
      </ion-item>
    </ion-col>     
  </ion-row>
	</div>

    <ion-row margin-top>
      <ion-col col-12>
        <button ion-button full round (click)="close()">Close</button>
      </ion-col>
    </ion-row>
	</ion-grid>
</ion-content>
